<% array_image_sources = [] %>
<% %>



<div id = "bg">
  <div class = "container" style = "padding-top: 5px">
    <div class="trip-card">
          <% if @trip.photos.first.nil? %>
            <div class="trip-images" style="background-image: url('https://images.unsplash.com/photo-1630694093867-4b947d812bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1315&q=80')">
              <p><%= @trip.name %></p>
            </div>
          <% else %>
            <% @trip.photos.each do |photo| %>
            <%# TODO: IMPLEMENT A CAROUSEL %>
              <div class="trip-images" style="background-image: url('<%=cl_image_path photo.key, crop: :fill %>')">
              <p><%= @trip.name %></p>
              </div>
            <% break %>
            <% end %>
          <% end %>

      <div class="trip-price-buttons">
        <div style="padding: 20px;">
        <em><h5>Price per day: €<%= @trip.price %><h5></em>
        <h1><%= @trip.description %><h1>
        </div>
        <div style="display: flex; justify-content: space-evenly; padding-bottom: 10px; background-color:">
          <%= link_to 'Book this trip', new_trip_booking_path(@trip), class:"btn btn-success" %>
          <%= link_to 'See all trips', trips_path, class:"btn btn-primary"  %>
          <% if @trip.user == current_user %>
            <% link_to 'Delete this trip', trip_path(@trip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
