<% host_bookings = [] %>

<% @bookings.each do |booking| %>
  <% if booking.trip.user = current_user %>
    <%host_bookings << booking %>
  <% end %>
<% end %>

<% host_bookings.each do |booking| %>
  <p>Customer: <%=booking.user.email%></p>
  <h2>Start date: <%= booking.start_date.strftime("%d %b %Y") %></h2>
  <h2>End date: <%= booking.end_date.strftime("%d %b %Y") %></h2>
  <h3>Trip: <%= booking.trip.name %></h3>
  <%= link_to "View trip details", trip_path(booking.trip)%>
  <p>Price per day: €<%=booking.trip.price %></p>

  <% if booking.pending? %>
    <%=link_to "Accept this booking", accept_path(booking)%>
    <%=link_to "Reject this booking", reject_path(booking)%>
  <% elsif booking.accepted? %>
    <%=link_to "Reject this booking", reject_path(booking)%>
  <% elsif booking.rejected? %>
    <%=link_to "Accept this booking", accept_path(booking)%>
  <% end%>
<% end %>

<%= link_to 'Home', root_path %>

