
<div id = "bg">
  <div style = "padding-top: 5px">
    <div class="container">
    <div class="announcement">
      <% if @bookings.first.nil? %>
        <h6>You have no current booking requests</h6>
      <% else  %>
        <h6>Here are requests to book your trips: </h6>
      <% end %>
    </div>
      <div class="cards">
        <% @bookings.each do |booking| %>
          <div class="host-card">
            <div class="host-info">
              <h4><strong><%= booking.trip.name %></strong></h4>
                <% if booking.accepted? %>
                <h5 style="background-color:#ace898">You have accepted <i class="fa-solid fa-check"></i></h5>
                <% elsif booking.rejected? %>
                <h5 style="background-color:red">You have rejected! <i class="fa-solid fa-x"></i></h5>
                <% elsif booking.pending? %>
                <h5 style="background-color: #9c47ff">Pending approval!</h5>
                <% end %>

              <h6>Customer: <%=booking.user.email%></h6>
              <h6>Start date: <%= booking.start_date.strftime("%d %b %Y") %></h2>
              <h6>End date: <%= booking.end_date.strftime("%d %b %Y") %></h2>
              <h4>Price per day: €<%=booking.trip.price %></h4>
              <%= link_to "View trip details", trip_path(booking.trip), style: "padding-top: 10px"%>
              <div class="host-buttons">
                <% if booking.pending? %>
                  <%=link_to "Accept this booking", accept_path(booking), class:"btn btn-success"%>
                  <%=link_to "Reject this booking", reject_path(booking), class:"btn btn-danger"%>
                <% elsif booking.accepted? %>

                  <%=link_to "Reject this booking", reject_path(booking), class:"btn btn-danger"%>
                <% elsif booking.rejected? %>
                  <%=link_to "Accept this booking", accept_path(booking), class:"btn btn-success"%>
                <% end%>
              </div>
            </div>
          </div>
        <% end %>
        <div class="home-button"> <%= link_to 'Home', root_path, class: 'btn btn-primary' %> </div>
      </div>
    </div>
  </div>
</div>
