<%# This code creates an array of bookingns which the current user (the host) can either accept or reject %>
<%# New conditional statement to see if it is possible to only allow somebody to confirm a trip they are actually hosting %>
  <% host_bookings = [] %>
  <% @bookings.each do |booking| %>
    <% if booking.trip.user = current_user%>
      <%host_bookings << booking %>
    <% end %>
  <% end %>


<div id = "bg">
  <div style = "padding-top: 5px">
    <div class="container">
      <div class="cards">
        <% host_bookings.each do |booking| %>
          <div class="host-card">
            <div class="host-info">
              <h4><strong><%= booking.trip.name %></strong></h4>
              <h6>Customer: <%=booking.user.email%></h6>
              <h6>Start date: <%= booking.start_date.strftime("%d %b %Y") %></h2>
              <h6>End date: <%= booking.end_date.strftime("%d %b %Y") %></h2>
              <h4>Price per day: €<%=booking.trip.price %></h4>
              <%= link_to "View trip details", trip_path(booking.trip)%>
              <div class="host-buttons">
                <% if booking.pending? %>
                  <%=link_to "Accept this booking", accept_path(booking), class:"btn btn-success"%>
                  <%=link_to "Reject this booking", reject_path(booking), class:"btn btn-danger"%>
                <% elsif booking.accepted? %>
                  <%=link_to "Reject this booking", reject_path(booking), class:"btn btn-danger"%>
                <% elsif booking.rejected? %>
                  <%=link_to "Accept this booking", accept_path(booking), class:"btn btn-success"%>
                <% end%>
              </div>
            </div>
          </div>
        <% end %>
        <div class="home-button"> <%= link_to 'Home', root_path, class: 'btn btn-primary' %> </div>
      </div>
    </div>
  </div>
</div>
